
.profile-header{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 608px;
    width: 100%;
    z-index: -2;
}

.cover-photo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -1;
}

.cover-photo-container img{
    width: 940px;
}

.transparent{
    height: 450px;
    width: 940px;
    margin: 0 auto;
    background: transparent;
    border-radius: 16px;
    border: 1px solid #fff;
}

.profile-nav{
    z-index: 2;
    height: 60px;
    background: #fff;
    width: 100%;
}

.profile-thumb-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98px;
    width: 100%;
    background: #fff;
    z-index: 2;
    padding: 16px 0;
}

.profile-thumb-container h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1875;
}