
.profile-header{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // height: 608px;
    width: 100%;
    z-index: -2;
    background: #fff;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);
}

// .cover-photo-container{
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     position: absolute;
//     z-index: -1;
// }

// .cover-photo-container img{
//     width: 940px;
// }

.cover-photo-container{
    height: 450px;
    width: 940px;
}

.cover-photo-container img, .cover-photo-placeholder{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cover-photo-placeholder{
    background-color: #f0f2f5;
}



.transparent{
    height: 450px;
    width: 940px;
    margin: 0 auto;
    background: transparent;
    border-radius: 16px;
    border: 1px solid #fff;
}


.profile-thumb-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98px;
    width: 100%;
    background: #fff;
    z-index: 2;
    padding: 16px 0;
}

.profile-thumb-container h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1875;
}

.profile-thumb-container span{
    font-weight: normal;
    font-size: 1.0625rem;
    color: #909397;
    padding-top: 10px;
}

.prof-pic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
}


.prof-pic{
    width: 168px;
    height: 168px;
    position: absolute;
    top: 300px;
}