//NAV ICONS

.nav-center a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    padding: 10px 30px;
    border-radius: 8px;
    margin-right: 5px;
}


.nav-center a:hover{
    text-decoration: none;
    background-color: #f3f3ed;
}

.nav-center .fab, .nav-center .fas{
    // height: auto;
    // width: 40px;
    font-size: 2.7em;
    color: #848689;
}


// .fa-github{
//     height: 40px;
//     width: 40px;
// }


//PROFILE ICONS
.edit-icon{
    background-image: image-url('edit.png');
    height: 16px;
    width: 16px;
    margin-right: 8px;
    margin-left: 5px;
}

.school-icon{
    background-image: image-url('grad.png');
    // background-position: center;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.location-icon{
    background-image: image-url('location.png');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.birthday-icon{
    background-image: image-url('birthday.png');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.work-icon{
    background-image: image-url('work.png');
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.prof-pic-btn .fas{
    font-size: 1.3rem;
}

//POST ICONS

.more-container{
    height: 36px;
    width: 36px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border: none;
    background-color: #fff;
}

.more-container:hover{
    background-color: #f3f3ed;
}

.more-container .fas{
    font-size: 1rem;
    color: #8b8d90;
}