.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    background-color: #fff;
    position: sticky;
    top: 0;
}

.nav-container .btn{
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 18px;
}

.profile{
    background-color: #e7f3ff;
    color: #1776f2;
}

.profile:hover{
    background-color: #d7ebff;
}

.nav-container .btn{
    background-color: #e4e6eb 
}

.nav-container .btn:hover{
    background-color: #d2d5dd 
}