.profile-page{
    display: flex;
    justify-content: center;
    width: 100%;
    top: -100px; //was -50 before adjusting element layering
    position: relative;
    background: #ffffff;
    z-index: 1;
    flex-wrap: wrap;
}

.profile-main{
    width: 892px;
    display: flex;
    justify-content: space-between;
}

.profile-scroll{
    width: 500px;
}

.profile-sticky{
    width: 360px;
    position: sticky;
}