.profile-page{
    display: flex;
    justify-content: center;
    width: 100%;
    top: -100px; //was -50 before adjusting element layering
    position: relative;
    background: #f0f2f5;
    z-index: 1;
    flex-wrap: wrap;
}

.profile-main{
    width: 892px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 16px;
    padding-left: 16px;
}

.profile-scroll{
    // width: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-grow: 1;
}

.profile-sticky{
    width: 360px;
    position: sticky;
}

.post-button-container{
    background: #fff;
    width: 100%;
    padding: 12px 10px 16px;
    display: flex;
    margin: 5px 0px;
    border-radius: 8px;
    box-shadow: 0 0.3px 0.3px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.1)
}

.prof-pic-thumb-small{
    height: 40px;
    width: 40px;
}

// .prof-pic-thumb-small img{
//     max-width: 100%;
//     max-height: 100%;
//     height: auto;
// }

.prof-pic-thumb-small img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}