.profile-page{
    display: flex;
    justify-content: center;
    width: 100%;
    top: -100px; //was -50 before adjusting element layering
    position: relative;
    background: #f0f2f5;
    z-index: 1;
    flex-wrap: wrap;
}

.profile-main{
    // width: 892px;
    width: 876px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 16px;
    padding-left: 16px;
}

.profile-scroll{
    width: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    // flex-grow: 1;
}

.profile-sticky{
    width: 360px;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-intro, .profile-photos, .profile-friends{
    width: 340px;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    // padding: 5px 5px;
    background: #fff;
    border-radius: 8px;
    padding: 12px 10px 16px;
    margin-top: 5px;
    box-shadow: 0 0.3px 0.3px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.1)
}

.full{
    width: 100%;
}

.profile-intro div:first-child, .profile-photos div:first-child, .profile-friends div:first-child{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
    padding-top: 0px;
    color: black;
}

.profile-intro div{
    padding-top: 10px;
    font-weight: normal;
    font-size: .9375rem;
    line-height: 1.3333;
    color:#757474;
}


.post-button-container{
    background: #fff;
    width: 96%;
    padding: 12px 10px 16px;
    display: flex;
    margin: 5px 0px;
    border-radius: 8px;
    box-shadow: 0 0.3px 0.3px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.1)
}

.prof-pic-thumb-small{
    height: 40px;
    width: 40px;
}

// .prof-pic-thumb-small img{
//     max-width: 100%;
//     max-height: 100%;
//     height: auto;
// }

.prof-pic-thumb-small img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}